{#    This is meant to be INCLUDED by another page.
			Wrap this inside another div class-content block, 
			and inside a form (if desiered)

			This template is used for THREE different thins:
			Create, Edit, or Display a record
	
			{% include 'template.html' %}

			Or to include checkbox columns:

			{% with add_checkboxes='1' %}
			{% include 'userlist.html' %}
			{% endwith %}

#}

<!-- Import any "with" parameters -->
{% if member_url %}
<script type="text/javascript">var MEMBER_URL="{{ url_for("members.member_show",id="") }}";</script>
{% else %}
<script type="text/javascript">var MEMBER_URL=null;</script>
{% endif %}


{% if readonly is defined and readonly  %}
{% set ro="readonly" %}
{% endif %}

{% if rec is not defined %}
{% set rec={} %}
{% endif %}


{% macro input(name, label, placeholder='', small='',type='text') -%}
			{% if readonly is not defined %}
			{% set ph = placeholder %}
			{% endif %}
      <label for="input_{{ name }}">{{ label }}</label>
      <input type="{{ type }}" {{ ro }} class="form-control" name="input_{{ name }}" id="input_{{ name }}" placeholder="{{ ph }}" value="{{ member[name] }}">
			{% if small != '' %}
			<small>{{ small }}</small>
			{% endif %}
{%- endmacro %}

<div class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('member',"Member ID",'Firstname.Lastname',small='Typically First.Last') }}
    </div>
	</div>
  <div class="form-row">
    <div class="form-group col-md-5">
			{{ input('firstname',"First Name") }}
    </div>
    <div class="form-group col-md-5">
			{{ input('lastname',"Last Name") }}
    </div>
  </div>

	<div class="form-group row">
		 <label class="col-sm-2 col-form-label" for="plan">Plan:</label>
			<div class="col-sm-4">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-secondary
						{% if (member.plan == "hobbyist") %} active {% endif %}
						">
						<input type="radio" name="input_plan" value="hobbyist" id="option1" autocomplete="off"
						{% if (member.plan == "hobbyist") %} checked="" {% endif %}
						>Hobbyist</input>
					</label>
					<label class="btn btn-secondary
						{% if (member.plan == "pro") %} active {% endif %}
						">
						<input type="radio" name="input_plan" value="pro" id="option1" autocomplete="off"
						{% if (member.plan == "pro") %} checked="" {% endif %}
						>Pro</input>
				</div>
				<small class="form-text text-muted">ProDuo must be done via stripe</small>
			</div>
			<label class="col-md-2 col-form-label" for="payment">Payment system:</label>
			<div class="col-md-4">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-secondary
						{% if (member.payment == "manual") %} active {% endif %}
						">
						<input type="radio" name="input_payment" value="manual" id="option1" autocomplete="off"
						{% if (member.payment == "manual") %} checked="" {% endif %}
						>Manual</input>
					</label>
					<label class="btn btn-secondary
						{% if (member.payment == "stripe") %} active {% endif %}
						">
						<input type="radio" name="input_payment" value="stripe" id="option1" autocomplete="off"
						{% if (member.payment == "stripe") %} checked="" {% endif %}
						>Stripe</input>
				</div>
			</div>
	</div>


  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('alt_email',"Primary Email",'person@example.com',small="Non makeitlabs email. Same as usd for payments",type="email") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('email',"MakeIt Email",'First.Last@makeitlabs.com',small="MakeIt Labs Gmail address") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('slack',"Slack ID",'first.last',small="User ID on MakeIt Labs Slack") }}
    </div>
    <div class="form-group col-md-6">
			{{ input('phone',"Phone Number",'603-555-1212') }}
    </div>
  </div>
</div>
