{% extends "layout_bootstrap.html" %}
{% block body %}
{% include "member_header.html" %}
<div class="body"> <!-- BASE contrainer -->

{% with readonly='1' %}
{% include 'member_form.html' %}
{% endwith %}
		
<div class="container"> {# Outer container #}
<div class="compact form-row row">
	<div class="col-sm-4">
			Last updated:
	</div>
	<div class="col-sm-6">
			{{ member.time_updated }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Waiver Completed
	</div>
	<div class="col-sm-6">
			{{ member.waiver_date }}
	</div>
</div>

<div class="my-2 p-2 border border-secondary rounded container">
<h3>Access</h3>
	{% if not access_allowed %}
		<div class="my-2 alert-danger">Access Denied: {{ access_warning }}</div>
	{% else %}
		<div class="my-2 alert-success">Access Granted {{ access_warning }}</div>
	{% endif %}
	{% if not dooraccess %}
		<div class="my-2 alert-danger">No door access record</div>
	{% elif dooraccess.past_due  == "true" %}
		<div class="my-2 alert-danger">Subscription past due since {{ dooraccess.expires_date }}</div>
	{% elif dooraccess.grace_period  == "true" %}
		<div class="my-2 alert-warning">Subscription expired {{ dooraccess.expires_date }} - in grace period</div>
	{% else %}
		<div class="my-2 alert-info">Orientation Complete</div>
	{% endif %}

  <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#debugaccess" aria-expanded="false" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
<pre class="collapse" id="debugaccess" > {{ dooraccess }} </pre>

</div>

		 
		
			<a href="{{ url_for("logs.logs",memberid=member.id) }}">Show Logs for Member</a>
		 
		
			<td colspan=2><h3>Payment Info</h3>
		 
		
			Payment Membership ID
			<a href="{{ url_for("payments.payment_membership",membership=subscription.membership) }}">{{ subscription.membership }}</a>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Active
	</div>
	<div class="col-sm-6">
			{{ subscription.active }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Plan
	</div>
	<div class="col-sm-6">
			{{ subscription.plan }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Updated
	</div>
	<div class="col-sm-6">
			{{ subscription.updated_date }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Created
	</div>
	<div class="col-sm-6">
			{{ subscription.created_date }}
	</div>
</div>
	   


	<div class="sectionhead">Current Access (<a href="{{ url_for('members.member_editaccess',id=member.id) }}">Edit</a>):</div>
	<ul class="entries">
	{% if not access %}
	  <i> No current access defined for this user</i>
	{% else %}
	  {% for a in access %}
		<li>{{ a.description }}, Updated: {{ a.time_updated }} </li>
	  {% endfor %}
	{% endif %}
	</ul>

	</div> {# Outer container #}
  </div> <!-- BASE container -->
  	{% if current_user.privs("Useredit") %}
	{% with readonly=1,member_id=member.id %}
	{% include "comments.html" %}
	{% endwith %}
	{% endif %}
{% endblock %}
