{% extends "layout_bootstrap.html" %}
{% block search %}
  <div class="container"> <!-- BASE contrainer -->
	<div><a href="{{ url_for('members.members') }}">(Back to Members list)</a></div>
	<div class="sectionhead">Member Details (<a href="{{ url_for('members.member_edit',id=member.id) }}">Edit</a>):</div>

{% with readonly='1' %}
{% include 'member_form.html' %}
{% endwith %}
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Last updated:
	</div>
	<div class="col-sm-6">
			{{ member.time_updated }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Waiver Completed
	</div>
	<div class="col-sm-6">
			{{ member.waiver_date }}
	</div>
</div>
		 
		
			<a href="{{ url_for("logs.logs",memberid=member.id) }}">Show Logs for Member</a>
		 
		
			<td colspan=2><h3>Payment Info</h3>
		 
		
			Payment Membership ID
			<a href="{{ url_for("payments.payment_membership",membership=subscription.membership) }}">{{ subscription.membership }}</a>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Active
	</div>
	<div class="col-sm-6">
			{{ subscription.active }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Plan
	</div>
	<div class="col-sm-6">
			{{ subscription.plan }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Updated
	</div>
	<div class="col-sm-6">
			{{ subscription.updated_date }}
	</div>
</div>
		 
		
<div class="compact form-row row">
	<div class="col-sm-4">
			Created
	</div>
	<div class="col-sm-6">
			{{ subscription.created_date }}
	</div>
</div>
	   


	<div class="sectionhead">Current Access (<a href="{{ url_for('members.member_editaccess',id=member.id) }}">Edit</a>):</div>
	<ul class="entries">
	{% if not access %}
	  <i> No current access defined for this user</i>
	{% else %}
	  {% for a in access %}
		<li>{{ a.description }}, Updated: {{ a.time_updated }} </li>
	  {% endfor %}
	{% endif %}
	</ul>
  </div> <!-- BASE container -->
{% endblock %}
