{% extends "layout_bootstrap.html" %}
{% block search %}
<div class=body>
	<div class="sectionhead">Edit user access to Resources</div>
    <p>Member: <a href="{{ url_for('members.member_show',id=member.member) }}">{{ member.member }}</a></p>
	<div class="sectionhead">Tags 
	{% if current_user.privs("Useredit") %}
	<a href="{{ url_for('members.member_tags',id=member.id) }}"><i>(Add/Change)</i></a>:
	{% endif %}
	</div>
	{% if tags|length > 0 %}
	  {% for t in tags %}
		<li>{{ t.tag_ident }} {{ t.tag_type }} (Name: {{ t.tag_name }})</li>
	  {% endfor %}
	{% else %}
	  <div><i>No tags currently exist for this user, be sure to add some</i></div>
	{% endif %}
	<br>
	
	<p>
	<form action="{{ url_for('members.member_setaccess',id=member.id) }}" method="post">
	  <table class="table">
		<tr>
		  <th>Resource</th>
		  <th>Description</th>
		  <th>Contact</th>
		  <th>Allowed</th>
		  <th>Permissions</th>
		</tr>
		{% for a in access %}
		  <tr>
			<td>{{ a.resource.name }}</td>
			<td>{{ a.resource.description }}</td>
			<td>{{ a.resource.owneremail }}</td>
			<td>
				{% if a.myPerms >= 1 %}
				<input type="checkbox" 
					name="access_{{ a.resource.name }}" {{ 'checked' if (a.active == 1) else '' }} 
				/>
				<input type="hidden" 
					name="orgaccess_{{ a.resource.name }}" value="{{ 'on' if (a.active == 1) else 'off' }}"
				/>
				{% else %}
				{{ '&#10004;'|safe  if (a.active == 1) else '' }} 
				{% endif %}
			</td>			
			{% if a.myPerms >= 2 %}
			<td>
			<select name="privs_{{ a.resource.name }}">
				<option name="User" value="0" 
				{{ 'selected' if (a.level == 0) else '' }}
				/>User</option>

				<option name="Trainer" value="1" 
				{{ 'selected' if (a.level == 1) else '' }}
			  	{{ 'disabled' if (a.myPerms <= 1) else '' }}
				/>Trainer</option>

				<option name="ARM" value="2" 
				{{ 'selected' if (a.level == 2) else '' }}
			  	{{ 'disabled' if (a.myPerms <= 2) else '' }}
				/>Ass't RM</option>

				<option name="RM" value="3" 
				{{ 'selected' if (a.level == 3) else '' }}
			  	{{ 'disabled' if (a.myPerms <= 3) else '' }}
				/>RM</option>
			</select>
			</td>
			{% else %}
			<td>{{ a.levelText }}</td>
			{% endif %}
		  </tr>
	    {% endfor %}
	  </table>
	 {% if current_user.privs("Admin") %}
	 <hr />
	 <h3>Assigned Roles</h3>
	 {% for r in roles %}
	 {{ r.name }}<input type="checkbox" name="role_{{ r.name }}" {{ 'checked' if (r.id) else '' }} /><br />
	 <input type="hidden" name="orgrole_{{ r.name }}" value="{{ 'on' if (r.id) else 'off' }}" />
	 {% endfor %}
	 <hr />
	 {% endif %}

	 {% if current_user.privs("Useredit") %}
	 <h3>Change Password</h3>
	 <p>
	 Password: <input type="password" name="password1" value="" size=20 /><br />
	 Reenter:<input type="password" name="password2" value="" size=20 />
	 </p>
	 {% endif %}
	 <hr />
	<input type=submit value="Make changes"/>
	</form>
  </div>
{% endblock %}
