{% extends "layout_bootstrap.html" %}
{% block search %}
  <div class=body>
	<div><a href="{{ url_for('members.members') }}">(Back to Members list)</a></div>

	<form action="{{ url_for('members.member_edit',id=member.id) }}" method="post">
		
	{% include 'member_form.html' %}

	  <input type="submit" name="SaveChanges" value="Save" />
	</form>



	<div class="sectionhead">Current Access (<a href="{{ url_for('members.member_editaccess',id=member.member) }}">Edit</a>):</div>
	<ul class="entries">
	{% if not access %}
	  <i> No current access defined for this user</i>
	{% else %}
	  {% for a in access %}
		<li>{{ a.description }}  {{ a.level }} </li>
	  {% endfor %}
	{% endif %}
	</ul>
  </div>
{% endblock %}
