{% extends "layout_bootstrap.html" %}
{% block search %}
  <div class=body>
	{% include "member_header.html" %}

	<form action="{{ url_for('members.member_edit',id=member.id) }}" method="post">
		
	{% include 'member_form.html' %}

	<div class="container"> {# Outer container #}
	  <input type="submit" name="SaveChanges" value="Save" />
	</div> {# Outer container #}
	</form>

	<div class="container"> {# Outer container #}


	<div class="sectionhead">Current Access (<a href="{{ url_for('members.member_editaccess',id=member.id) }}">Edit</a>):</div>
	<ul class="entries">
	{% if not access %}
	  <i> No current access defined for this user</i>
	{% else %}
	  {% for a in access %}
		<li>{{ a.description }}  {{ a.level }} </li>
	  {% endfor %}
	{% endif %}
	</ul>
  </div>

	{% with member_id=member.id %}
	{% include "comments.html" %}
	{% endwith %}
	</div> {# Outer container #}
{% endblock %}
