{# Included in header of other "member" pages #}

<div class="container">
	<div class="btn-group my-2" role="group" aria-label="Member Pages">
		<a href="{{ url_for("members.members") }}"  type="button" class="btn btn-link">All</a>
		<a href="{{ url_for("members.member_show",id=member.member) }}"  type="button" class="btn btn-link">View</a>
		<a href="{{ url_for("members.member_edit",id=member.id) }}"  type="button" class="btn btn-link">Edit</a>
		<a href="{{ url_for("members.member_tags",id=member.id) }}"  type="button" class="btn btn-link">Tags</a>
		<a href="{{ url_for("members.member_setaccess",id=member.id) }}"  type="button" class="btn btn-link">Access</a>
	</div>
	<div class="container m-0 mb-3 p-0">
		<div class="m-0 p-0 row">
			<h3>{{ member.firstname }} {{ member.lastname }}  </h3>
		</div>
		<div class="row m-0 p-0">
			{{ member.member }} (#{{ member.id }})
		</div>
	</div>
</div>
