{% extends "layout_public.html" %}
{% block head %}
{% endblock %}


{% block widebody %}
    <div class="body">
        <h2 class="mb-4">Membership Registration</h2>
	<p><b>Thank you for joining MakeIt Labs!</b></p>
	<p>You should be receiving an email at {{ email }} very soon. Please check your inbox and spam folder. It will contain important information on setting up your MakeIt accounts, attending orientation so you can get access to the lab. If you do not hear back within a day, please email info@makeitlabs.com for help, or come to one of our orientation sessions Thursdays at 7:00pm. We look forward to seeing you soon!
	</p>

	<p>
	In the meantime, please click the button below to sign your member waiver. Building access will not be premitted until waiver is signed.
	{% if mtype == "produo" %} Plase make sure <b>both</b> members have executed waivers.{% endif %}
	</p>
	    <a href="https://waiver.smartwaiver.com/w/5626bfb9a69fd/web/" class="btn btn-info" target="_blank">Member Waiver...</a>
    </div>
{% endblock %}
