{% extends "layout_public.html" %}
{% block head %}
{% endblock %}


{% block widebody %}
    <div class="body">
        <h2 class="mb-4">Membership Registration</h2>
	<p><b>Thank you for joining MakeIt Labs!</b></p>
	<p>You should be receiving an email at {{ email }} very soon. Please check your inbox and spam folder. It will contain important information on setting up your MakeIt accounts, signing waivers, attending orientation so you can get access to the lab. If you do not hear back within a day, please email info@makeitlabs.com for help, or come to one of our orientation sessions Thursdays at 7:00pm. We look forward to seeing you soon!
	</p>
    </div>
{% endblock %}
