{% extends "layout_public.html" %}
{% block head %}
{% endblock %}


{% block body %}
    <div class="body">
    <div class="container">
        <h2 class="mb-4">Redeem Intoductory Membership</h2>
	<form method="POST" action="{{ url_for("signup.redeem_activate") }}">
            <div class="mb-3">
		    <p>
		    Membership for: {{ gift_to }}
		    </p>
		    <p>
		    Please enter your information below to redeem your introductory membership. Note that your membership will start immediatley after completing this form. Since you will be required to attend orientaton and receive your key-fob before using the space, it is recommended that you don't fill this form out until shortly before attending your orientation. Orientations are held in-person as the facility, every Thursday evening at 7pm (holidays aside). If you have any questions, please email <a href="mailto:info@makeitlabs.com">info@makeitlabs.com</a>.
		    </p>
		    <p>
		    Your membership will automatically cancel at the end of the gift-membership period, unless you opt to stay by adding a credit card to your account to activate automatic monthly payments and renewals.
		    </p>
            </div>


	    <h4>New Member Information:</h4>

            <!-- First Name -->
            <div class="input-group mb-3">
                <label for="firstName" class="input-group-text mb-2">First Name</label>
                <input type="text" class="form-control mb-2" name="firstname" id="firstName" placeholder="Enter your first name" required>
                <label for="lastName" class="input-group-text mb-2">Last Name</label>
                <input type="text" class="form-control mb-2" name="lastname" id="lastName" placeholder="Enter your last name" required>
            </div>


            <!-- email -->
            <div class="input-group mb-3">
                <label for="email" class="input-group-text mb-2">email</label>
                <input type="tel" class="form-control mb-2" name="email" id="email" placeholder="Enter your email address" required>
                <label for="phoneNumber" class="input-group-text  mb-2">Phone Number</label>
                <input type="tel" class="form-control mb-2" name="phone" id="phoneNumber" placeholder="Enter your phone number" required>
            </div>

	    <!-- Checkbox -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="termsAgreement" name="termsAgreement" required>
		<label class="form-check-label" for="termsAgreement">&nbsp;I acknowledge the above, and and agree to the terms and conditions listed in MakeIt <a target="_blank" href="https://wiki.makeitlabs.com/policies">policies</a></label>
            </div>
	    <input type="hidden" name="code" value="{{ code }}">
            <!-- Submit Button -->
            <button type="submit" name="Payment" value="Payment" class="btn btn-primary">Activate Membership</button>
        </form>
    </div>
    </div>
{% endblock %}
