{% extends "layout_public.html" %}
{% block head %}
{% endblock %}


{% block widebody %}
    <div class="body">
        <h2 class="mb-4">Membership Registration</h2>
        <form method="POST" action="payment">
            <div class="mb-3">
		    <p>
		    Please enter information below for the individual signing up for membership. Select the basic membership type below. Any discounts (such as military, ProDuo, etc.) will be applied to successive billing cycles during orientation. You may cancel at any time, effective at the beginning of the next-months billing cycle. By signing up you are agreeing to be automatically billed for membership each month, in addition to any incedental (vending, materials) charges/purchases you may opt for.
		    </p>
            </div>
            <!-- First Name -->
            <div class="mb-3">
                <label for="firstName" class="form-label mb-2">First Name</label>
                <input type="text" class="form-control mb-2" name="firstname" id="firstName" placeholder="Enter your first name" required>
            </div>

            <!-- Last Name -->
            <div class="mb-3">
                <label for="lastName" class="form-label mb-2">Last Name</label>
                <input type="text" class="form-control mb-2" name="lastname" id="lastName" placeholder="Enter your last name" required>
            </div>

            <!-- email -->
            <div class="mb-3">
                <label for="email" class="form-label mb-2">email</label>
                <input type="tel" class="form-control mb-2" name="email" id="email" placeholder="Enter your email address" required>
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
                <label for="phoneNumber" class="form-label mb-2">Phone Number</label>
                <input type="tel" class="form-control mb-2" name="phone" id="phoneNumber" placeholder="Enter your phone number" required>
            </div>


	                <!-- Membership Type -->
            <div class="mb-3">
                <label class="form-label">Select Membership Type</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="membershipType" id="proMembership" value="pro">
                    <label class="form-check-label" for="proMembership">Professional Membership - $65.00 per Month</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="membershipType" id="hobbyistMembership" value="hobbyist">
                    <label class="form-check-label" for="hobbyistMembership">Hobbyist Membership - $50.00 per Month</label>
                </div>
            </div>
	                <!-- Checkbox -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="termsAgreement" name="termsAgreement" required>
                <label class="form-check-label" for="termsAgreement">I agree to the terms and conditions</label>
            </div>
            <!-- Submit Button -->
            <button type="submit" name="Payment" value="Payment" class="btn btn-primary">Continue to Payment</button>
        </form>
    </div>
{% endblock %}
