{% extends "layout_bootstrap.html" %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Logs</div>
    <a href="{{ url_for('logs.logs') }}">View All</a>
    <p></p>
	<table  class="table table-compact supercompact">
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Tool</th>
        <th>Node</th>
        <th>Resource</th>
        <th>Event</th>
        <th>Admin</th>
        <th>Message</th>
      </tr>
      {% for l in logs %}
	  <tr>
		<td>{{ l.when }}</td>
		<td>
			{% if l.user %}
			<a href="{{ url_for("members.member_show",id=l.member_id) }}">
			{{ l.user }}
			</a>
			{% endif %}
		</td>
		<td>
			{% if l.tool %}
			<a href="{{ url_for("tools.tools_show",tool=l.tool_id) }}">
			{{ l.tool }}
			</a>
			{% endif %}
		</td>
		<td>
			{% if l.node %}
			<a href="{{ url_for("nodes.nodes_show",node=l.node_id) }}">
			{{ l.node }}
			</a>
			{% endif %}
		</td>
		<td>
			{% if l.resource %}
			<a href="{{ url_for("resources.resource_show",resource=l.resource) }}">
			{{ l.resource }}
			</a>
			{% endif %}
		</td>
		<td>{{ l.event }}</td>
		<td>
			<a href="{{ url_for("members.member_show",id=l.admin_id) }}">
				{{ l.doneby }}
			</a>
		</td>
		<td>{{ l.message }}</td>
	  </tr>
      {% endfor %}
	</table>
  </div>
{% endblock %}
