{% extends "layout_bootstrap.html" %}
{% block head %}

  <script type="text/javascript" src="static/polyfill.js"></script> 
  
  <script type="text/javascript" src="static/cv.js"></script> 
  <script type="text/javascript" src="static/aruco.js"></script> 
  <script type="text/javascript" src="static/aruco_4x4_1000.js"></script> 

  <script>
    var video, canvas, context, imageData, detector;

    function onLoad(){
      video = document.getElementById("video");
      canvas = document.getElementById("canvas");
      context = canvas.getContext("2d");

	//findCamera();
    
      canvas.width = parseInt(canvas.style.width);
      canvas.height = parseInt(canvas.style.height);
      
      if (navigator.mediaDevices === undefined) {
        navigator.mediaDevices = {};
      }
      
      if (navigator.mediaDevices.getUserMedia === undefined) {
        navigator.mediaDevices.getUserMedia = function(constraints) {
          var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
          
          if (!getUserMedia) {
            return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
          }

          return new Promise(function(resolve, reject) {
            getUserMedia.call(navigator, constraints, resolve, reject);
          });
        }
      }
 
	const constraints = {
			  video: {facingMode: "environment"}
		  }
     navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
          if ("srcObject" in video) {
            video.srcObject = stream;
          } else {
            video.src = window.URL.createObjectURL(stream);
          }
     var canvasNode = document.getElementById('canvas');
    canvasNode.style.width = canvasNode.parentNode.clientWidth;
    canvasNode.height = canvasNode.parentNode.clientHeight;
        })
        .catch(function(err) {
          console.log(err.name + ": " + err.message);
        }
      );
	 
        
      detector = new AR.Detector({
        dictionaryName: 'ARUCO_4X4_1000'
      });

      requestAnimationFrame(tick);
    }
    
    function tick(){
      requestAnimationFrame(tick);
      
      if (video.readyState === video.HAVE_ENOUGH_DATA){
        snapshot();

        var markers = detector.detect(imageData);
        drawCorners(markers);
        drawId(markers);
        bkg(markers);

      }
    }

    // Aruco IDs
    var lastUpper=-999;
    var lastLower=-999;

    function bkg(markers){
      for (i = 0; i !== markers.length; ++ i){
                        var highest = -999;
                        var lowest = 999;
                        for (c = 0; c !== markers[i].corners.length; ++ c){
                                          if (markers[i].corners[c].y < lowest) {
                                                            lowest = markers[i].corners[c].y;
                                          }
                                          if (markers[i].corners[c].y > highest) {
                                                            highest = markers[i].corners[c].y;
                                          }
                        }
                                markers[i].highest = highest;
                                markers[i].lowest = lowest;
                                //console.log("MARKER",markers[i].id,markers[i],lowest,highest);
      }

     var upper,lower;
     if (markers.length == 2) {
                       if (markers[0].lowest > markers[1].highest) {
                                upper = markers[0].id;
                                lower = markers[1].id;
                                 } else {
                                upper = markers[1].id;
                                lower = markers[0].id;
                       }
        if ((upper != lastUpper) || (lower != lastLower)) {
                          lastUpper = upper;
                          lastLower = lower;
                        console.log("MARKER",upper,"above",lower);
			document.getElementById("toptext").innerHTML=upper;
			document.getElementById("bottomtext").innerHTML=lower;
        }
     }

    }


    function snapshot(){
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    }
          
    function drawCorners(markers){
      var corners, corner, i, j;
    
      context.lineWidth = 3;

      for (i = 0; i !== markers.length; ++ i){
        corners = markers[i].corners;
        
        context.strokeStyle = "red";
        context.beginPath();
        
        for (j = 0; j !== corners.length; ++ j){
          corner = corners[j];
          context.moveTo(corner.x, corner.y);
          corner = corners[(j + 1) % corners.length];
          context.lineTo(corner.x, corner.y);
        }

        context.stroke();
        context.closePath();
        
        context.strokeStyle = "green";
        context.strokeRect(corners[0].x - 2, corners[0].y - 2, 4, 4);
      }
    }

    function drawId(markers){
      var corners, corner, x, y, i, j;
      
      context.strokeStyle = "blue";
      context.lineWidth = 1;
      
      for (i = 0; i !== markers.length; ++ i){
        corners = markers[i].corners;
        
        x = Infinity;
        y = Infinity;
        
        for (j = 0; j !== corners.length; ++ j){
          corner = corners[j];
          
          x = Math.min(x, corner.x);
          y = Math.min(y, corner.y);
        }

        context.strokeText(markers[i].id, x, y)
      }
    }


    window.onload = onLoad;
  </script>

{% endblock %}

{% block body %}
<body style="font-family: monospace;">

	<h1>ProBin Aruco Scanner</h1>

	<p id="toptext"></p>
	<p id="bottomtext"></p>
  <center>
    <div id="canvas_div" style="width:100%">
    <video id="video" playsinline playinline  autoplay="true" style="xxdisplay:none;xxheight:10px;width:100%;"></video>
    <canvas id="canvas" style="display:none;width:480px; height:640px;"></canvas>
    </div>
  </center>

{% endblock %}
  
