{# vim:tabstop=2:shiftwidth=2:expandtab
#}
{% extends "layout_bootstrap.html" %}
{% block widebody %}
{% with page="choose" %}
{% include 'header.html' %}
  <h1>Enter Bin Location Preferences</h2>
  <p>Please click <i>open</i> grid squares in the order of preference for which you would like your bin. Click first preference first. Unclicked bins shall mean you would <b>not</b> want this bin at all. For more information on bin locations <a href="https://sites.google.com/a/makeitlabs.com/wiki/reference/prostore">Click Here</a></p>
{% endwith %}

<form method="POST" action="{{ url_for('prostore.selectChoices') }}">
{% macro grid(cols, rows, name) %}
  <h3>{{ name }} Bins</h3>
  <table style="table-layout: fixed; width: 100%;" class="table">
    <tr>
     <td></td>
    {% for xx in range(cols) %}
	  {% set x = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[xx] %}
    <div class="col-sm-1">
      <th>{{ x }}</th>
    {% endfor %}
    </tr>

  {% for yy in range(rows) %} 
  {% set y = (rows-yy)|string %}
  <tr>
      <th>{{ y }}</th>
    {% for xx in range(cols) %}
	  {% set x = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[xx] %}
    <td
        style="
        {% if bins[name+'-'+x+"-"+y] %}
        {{ bins[name+'-'+x+"-"+y]['style'] }}
        {% endif %}
        "
     >
        {% if bins[name+'-'+x+"-"+y] %}
		{{ bins[name+'-'+x+"-"+y]['status'] }}<br />
	{% else %}
		{% if ranks[name+'-'+x+"-"+y] %}
		<input type="hidden" id="select-{{ name }}-{{ x }}-{{ y }}" name="select-{{ name }}-{{ x }}-{{ y }}" value='{{ ranks[name+'-'+x+"-"+y] }}' />
			<button type="button" id="choice-{{ name }}-{{ x }}-{{ y }}" onClick='clickChoice("choice-{{ name }}-{{ x }}-{{ y }}")' name="choice-{{ name }}-{{ x }}-{{ y }}">{{ ranks[name+'-'+x+"-"+y] }}</button>
		{% else %}
			<input type="hidden" id="select-{{ name }}-{{ x }}-{{ y }}" name="select-{{ name }}-{{ x }}-{{ y }}" value="" />
			<button type="button" id="choice-{{ name }}-{{ x }}-{{ y }}" onClick='clickChoice("choice-{{ name }}-{{ x }}-{{ y }}")' name="choice-{{ name }}-{{ x }}-{{ y }}">Choose</button>
		{% endif %}
        {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
{% endmacro %}
<input type="Submit"  name="Submit" value="Submit" class="btn btn-primary" />


{% for g in grids %}
{{ grid(g.columns,g.rows,g.short) }}
{% endfor %}

</form>

<script type="text/javascript">
	function findHole(arr) {
	    // First, sort the array
	    arr.sort((a, b) => a - b);

	    // Next, iterate through the array and check for missing positive numbers
	    for (let i = 0; i < arr.length; i++) {
		if (arr[i] <= 0) {
		    continue;
		}
		if (arr[i] !== i + 1) {
		    return i + 1;
		}
	    }

	    // If no missing positive numbers are found, return the next positive number
	    return arr.length + 1;
	}



	var nextOpt=1;
	function clickChoice(button) {
		var lastOne=0;
		var choices = Array()
		document.querySelectorAll("[id^=choice-]").forEach(function Test(i) { 
				if (i.innerText != "Choose") {
						var x = parseInt(i.innerText);
						if (x != NaN) {
								choices.push(x);
						}
				}
			});
				
		lastOne=findHole(choices);
		var x = document.getElementById(button);
		var y = document.getElementById(button.replace("choice-","select-"));
		if (x.innerText == "Choose") {
			x.innerText=nextOpt;
			x.innerHTML=lastOne;
			x.value=lastOne;
			y.value=lastOne;
			} else {
			x.innerText="Choose";
			y.innerText="Choose";
			}
	}
</script>

{% endblock %}
