{# vim:tabstop=2:shiftwidth=2:expandtab
#}
{% extends "layout_bootstrap.html" %}
{% block widebody %}
{% with page="grid" %}
{% include 'header.html' %}
{% endwith %}

{% macro grid(cols, rows, name) %}
  <h3>{{ name }} Bins</h3>
  <table style="table-layout: fixed; width: 100%;" class="table">
    <tr>
     <td></td>
    {% for xx in range(cols) %}
	  {% set x = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[xx] %}
    <div class="col-sm-1">
      <th>{{ x }}</th>
    {% endfor %}
    </tr>

  {% for yy in range(rows) %} 
  {% set y = (rows-yy)|string %}
  <tr>
      <th>{{ y }}</th>
    {% for xx in range(cols) %}
	  {% set x = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'[xx] %}
    <td
        style="
        {% if bins[name+'-'+x+"-"+y] %}
        {{ bins[name+'-'+x+"-"+y]['style'] }}
        {% endif %}
        "
     >
        {% if bins[name+'-'+x+"-"+y] %}
        {% if current_user.privs("ProStore") %}
          <a href="{{ url_for('prostore.bin_edit',id= bins[name+'-'+x+'-'+y]['binid']) }}">
        {% endif %}
        {{ bins[name+'-'+x+"-"+y]['lastname'] }}<br />
        {{ bins[name+'-'+x+"-"+y]['firstname'] }}<br />
        {{ bins[name+'-'+x+"-"+y]['binname'] }}<br />
        {% if current_user.privs("ProStore") %}
          </a>
        {% endif %}
        {% else %}
                {% if current_user.privs("ProStore") %}
                {% if locs[name+'-'+x+'-'+y] %}
                <a href="{{ url_for('prostore.bin_add',bin=name+'-'+x+'-'+y) }}">+</a>
                {% endif %}
                {% endif %}
        {% endif %}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
{% endmacro %}


{% for g in grids %}
{{ grid(g.columns,g.rows,g.short) }}
{% endfor %}


{% endblock %}
