{% extends "layout_bootstrap.html" %}
{% block body %}
<div class="container-fluid">
<h2>Resource Reservations</h2>
</div>

<div class="d-flex flex-wrap">

{% for r in resources %}
	{% if r.img %}
	<div class="menubox content hvr-grow-shadow">
		<div class="my-10 p-0 mx-auto">
			<a href="{{ r.url }}"><img class="menuimg" src="{{ r.img }}" alt="{{ r.alt }}"></a>
		</div>
		<div class="m-0 p-0 mx-auto ">
			<div class="m-0 p-0 text-center">{{ r.title }}</div>
			<div class="m-0 p-0 text-center">
				<small>{{ r.alt }}</small>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endblock %}
