table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

th { 
	xx-background: #3498db; 
	xx-color: white; 
	xx-font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	xx-font-size: 18px;
	}

.hide td:first-child {
	padding-left:10px;
}

.labels tr td {
	xx-background-color: #2cc16a;
	font-weight: bold;
	xx-color: #fff;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}

.hide {
	display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
