{% extends "layout.html" %}
{% block search %}
  <div class=body>
	<div><a href="{{ url_for('members') }}">(Back to Members list)</a></div>

	<form action="{{ url_for('member_edit',id=member.member) }}" method="post">
	  <table>
		<tr>
		  <td>First name</td>
		  <td><input name="firstname" id="firstname_field" type="text" value="{{ member.firstname }}"></td>
		</tr>
		<tr>
		  <td>Last name</td>
		  <td><input name="lastname" id="lastname_field" type="text" value="{{ member.lastname }}"></td>
		</tr>
		<tr>
		  <td>Strip Memeber Name<br><span style="font-size:small">(Name as it appears in Stripe payment system)</span></td>
		  <td><input name="stripe_name" id="memberid_field" type="text" value="{{ member.stripe_name }}"></td>
		</tr>
		<tr>
		 <td>Plan:<br /><span style="font-size:small">(Change via payment system)</span></td>
		 <td>{{ member.plan }}</td>
		</tr>
		<!--
		<tr>
		  <td>Payment system:</td>
		  <td><select name="payment">
		  <option value="manual">Manual</option>
		  <option value="pinpayments">Pinpayments</option>
		  <option value="stripe">Stripe</option></select></td>
		</tr>
		-->
		<tr>
		  <td>Email<br /><span style="font-size:small">(NON @makeitlabs.com - as it appears in Stripe payment system)</span></td>
		  <td><input name="alt_email" value="{{ member.alt_email }}"/></td>
		</tr>
		<tr>
		  <td>Phone (Optional)</td>
		  <td><input name="phone" value="{{ member.phone }}"/></td>
		</tr>
		<tr>
		  <td>Slack ID</td>
		  <td><input name="slack" value="{{ member.slack }}"/></td>
		</tr>
		<tr>
		  <td>Subscription</td>
		  <td>{{ subscription.subid }}
			{% if subscription.subid %}
			<input type="submit" name="Unlink" value="unlink" />
			<input type="hidden" name="subscription" value="{{ subscription.subid }}" />
			<input type="hidden" name="member_id" value="{{ member.id }}" />
			{% else %}
			None
			{% endif %}
		  </td>
		</tr>
	  </table>
	  <input type="submit" name="SaveChanges" value="Save" />
	</form>

	<div class="sectionhead">Current Access (<a href="{{ url_for('member_editaccess',id=member.member) }}">Edit</a>):</div>
	<ul class="entries">
	{% if not access %}
	  <i> No current access defined for this user</i>
	{% else %}
	  {% for a in access %}
		<li>{{ a.description }}, Updated: {{ a.time_updated }} </li>
	  {% endfor %}
	{% endif %}
	</ul>
  </div>
{% endblock %}
