{# vim:tabstop=2:expandtab:shiftwidth=2 
#}
{% extends "layout_bootstrap.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="body"><h3>{{ resource.name }} Usage Reports for {{ name }} {{ period }}</h3></div>

<form method="POST">
	<select name="month">
		<option value="1" {% if month==1 %}selected{% endif %}>January</option>
		<option value="2" {% if month==2 %}selected{% endif %}>February</option>
		<option value="3" {% if month==3 %}selected{% endif %}>March</option>
		<option value="4" {% if month==4 %}selected{% endif %}>April</option>
		<option value="5" {% if month==5 %}selected{% endif %}>May</option>
		<option value="6" {% if month==6 %}selected{% endif %}>June</option>
		<option value="7" {% if month==7 %}selected{% endif %}>July</option>
		<option value="8" {% if month==8 %}selected{% endif %}>August</option>
		<option value="9" {% if month==9 %}selected{% endif %}>September</option>
		<option value="10" {% if month==10 %}selected{% endif %}>October</option>
		<option value="11" {% if month==11 %}selected{% endif %}>November</option>
		<option value="12" {% if month==12 %}selected{% endif %}>December</option>
	</select>
	<select name="year">
	{% for x in range(2022,2035) %}
	<option {% if year==x %}selected{% endif %} value="{{ x }}">{{ x }}</option>
		{% endfor %}
	</select>

	<input type="Submit" class="btn btn-primary" Value="View Month" name="viewUsage" />

</form>
<p>Month is {{ month }} Year is {{ year }}</p>

<form method="POST">
<table class="table table-sm">
	<tr>
		<th>When</th>
		<th>Time</th>
		<th>Cost</th>
		<th></th>
		<th></th>
	</tr>
	{% for t in table %}
	<tr>
		<td>{{ t.date|safe }}</td>
		<td>{{ t.time }}</td>
		<td>{{ t.price }}</td>
		<td>{{ t.info }}</td>
		<td>
		{% if isARM == True %}
			{% if t.freeTier is not defined  %}
			{% elif t.freeTier == False  %}
				<input type="checkbox" value="makeTrue" name="change_{{ t.log_id }}" /> Make Free
			{% else %}
				<input type="checkbox" value="makeFalse" name="change_{{ t.log_id }}" /> Make Billable
			{% endif %}
		{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{% if isARM == True %}
	<input type="Submit" class="btn btn-primary" Value="Update" name="Update" />
{% endif %}
</form>

	<hr />
	{% if invoices|length > 0 %}
	<h2> Invoiced </h2>
	{% for i in invoices %}
	Invoice #{{ i.number }} Status: {{ i.status }} Amount: {{ i.unit_amount }} Date: {{ i.created }}
	{% endfor %}
	{% else %}
	<p>Not invoiced</p>
	{% endif %}


<p>
{% for x in debug %}
<pre> {{ x }} </pre>
{% endfor %}
</p>
</div> {# Body #}

{% endblock %}
