{# vim:tabstop=2:expandtab:shiftwidth=2 
#}
{% extends "layout_bootstrap.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="body"><h3>{{ resource.name }} Usage Reports</h3></div>


{% if current_user.privs("Finance") %}
<form method="POST">
	<select name="month">
		<option value="1">January</option>
		<option value="2">February</option>
		<option value="3">March</option>
		<option value="4">April</option>
		<option value="5">May</option>
		<option value="6">June</option>
		<option value="7">July</option>
		<option value="8">August</option>
		<option value="9">September</option>
		<option value="10">October</option>
		<option value="11">November</option>
		<option value="12">December</option>
	</select>
	<select name="year">
	{% for x in range(2023,2035) %}
	<option value="{{ x }}">{{ x }}</option>
		{% endfor %}
	</select>
	<input type="Submit" class="btn btn-primary" Value="Unpaid Invoices" name="unpaidInvoices" />
	<input type="Submit" class="btn btn-primary" Value="View Usage" name="viewUsage" />
	<input type="Submit" class="btn btn-danger" Value="Bill Usage" name="doBilling" />
	<input type="checkbox" Value="Invoice & Collect" name="invoiceCollect" /> <label>Invoice &amp; Collect </label>
</form>
{% endif %}
<p>{{ resource.name }}</p>

<p>
{% for x in debug %}
<pre> {{ x }} </pre>
{% endfor %}
</p>
</div> {# Body #}

{% endblock %}
